extends layout

block content
  h1= title
  p Mozilla Developer Network (MDN) のチュートリアル例として開発された、ごく基本的な Express のウェブサイト #[em LocalLibrary],へようこそ.

  h1 動的コンテンツ

  p 図書館には以下のレコード数が所蔵されています。

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong 利用可能なコピー:] !{book_instance_available_count}
    li #[strong 作者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
